<template>
    <div>
        <div class="form-group">
            <router-link :to="{name: 'createCompany'}" class="btn btn-success">Добавить ссылку в очередь</router-link>
            <router-link-domain :to="{name: 'createDomain'}" class="btn btn-success">Добавить домен в парсер</router-link-domain>
        </div>
        <div class="panel panel-default">
            <div class="mb-0 mt-4 card-header">
                <i class="fa fa-newspaper-o"></i> Последний парсинг meta</div>
            <hr class="mt-2">
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th>Описание</th>
                        <th>Сайт</th>
                        <th>№ Крона</th>
                        <th width="100">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="company, index in freshContent">
                        <td>{{ company.title }}</td>
                        <td>{{ company.description }}</td>
                        <td>{{ company.domain }}</td>
                        <td>{{ company.cron_start }}</td>
                        <td>
                            <router-link :to="{name: 'editCompany', params: {id: company.id}}" class="btn btn-xs btn-default">
                                Edit
                            </router-link>
                            <a href="#"
                               class="btn btn-xs btn-danger"
                               v-on:click="deleteEntry(company.id, index)">
                                Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                freshContent: []
            }
        },
        mounted() {
            var app = this;
            axios.get('/test/fresh_content/')
                .then(function (resp) {
                    app.freshContent = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load freshContent");
                });
        },
        methods: {
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('/test/fresh_content/')
                        .then(function (resp) {
                            app.freshContent.splice(index, 1);
                        })
                        .catch(function (resp) {
                            alert("Could not delete company");
                        });
                }
            }
        }
    }
</script>