<template>
    <div>
        <input type="text" class="header__search" v-model.lazy="keywords">
        <button class="header__searchButton" @click="fetch">Поиск</button>
        <ul v-if="results.length > 3" v-for="result in results" :key="result._id">
                <li>
                    <div><a :href="result._source.url">{{result._source.title}}</a></div>
                    <div></div>
                    <div>{{result._source.description}}</div>
                    <div>Дата индексации страницы {{result._source.created_at.date}}</div>
                </li>
        </ul>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                keywords: null,
                results: []
            };
        },

        watch: {
            keywords(after, before) {
                this.fetch();
            }
        },

        methods: {
            fetch() {
                axios.get('/live_search', {params: {keywords: this.keywords}})
                    .then(response => this.results = response.data)
                    .catch(error => {});
            }
        }
    }
</script>