<template>
    <div>
        <div class="form-group">
            <router-link :to="{name: 'createDomains'}" class="btn btn-success">Добавить ссылку в очередь</router-link>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Домен</th>
                        <th>Приоритет домена</th>
                        <th>Кол-во ссылок</th>
                        <th width="100">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="domains, index in ListDomains">
                        <td>{{ domains.domain }}</td>
                        <td>{{ domains.priority }}</td>
                        <td>{{ domains.countLinks }}</td>
                        <td>
                            <router-link :to="{name: 'editDomains', params: {id: domains.id}}" class="btn btn-xs btn-default">
                                Edit
                            </router-link>
                            <a href="#"
                               class="btn btn-xs btn-danger"
                               v-on:click="deleteEntry(domains.id, index)">
                                Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                ListDomains: []
            }
        },
        mounted() {
            var app = this;
            axios.get('/test/domains_list/')
                .then(function (resp) {
                    app.ListDomains = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load ListDomains");
                });
        },
        methods: {
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('/test/fdomains_list/')
                        .then(function (resp) {
                            app.ListDomains.splice(index, 1);
                        })
                        .catch(function (resp) {
                            alert("Could not delete domains");
                        });
                }
            }
        }
    }
</script>