<template>
    <div>
        <p v-if="freshContent === 1" class="alert-success">Парсер работает</p>
        <p v-else-if="freshContent === 2" class="alert-success">Парсер запускается</p>
        <p v-else class="alert-danger">Парсер остановлен</p>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                freshContent: []
            }
        },
        mounted() {
            var app = this;
            setInterval(function () {
            axios.get('/test/settings/paser/status/')
                .then(function (resp) {
                    app.freshContent = resp.data;
                    // if (resp.data.length > 0){
                    //     app.freshContent = 1
                    // }else{
                    //     app.freshContent = 0
                    // }
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load freshContent");
                });
            }.bind(this), 3000);
        },
        methods: {
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('/test/fresh_content/')
                        .then(function (resp) {
                            app.freshContent.splice(index, 1);
                        })
                        .catch(function (resp) {
                            alert("Could not delete company");
                        });
                }
            }
        }
    }
</script>