<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Статистика обходов главной сайтов</h1>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Домен</th>
                        <th>Кол-во проходов</th>
                        <th>Последний проход</th>
                        <th>Последний пинг</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="domain, index in domains">
                        <td>{{ domain.domain }}</td>
                        <td>{{ domain.count }}</td>
                        <td>{{ domain.updated_at }}</td>
                        <td v-if="domain.parser_content == 1">{{ domain.ping }}</td>
                        <td v-else-if="domain.parser_content == 0">Статистика не ведется</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                domains: []
            }
        },
        mounted() {
            var app = this;
            axios.get('/test/statistics/domains/params')
                .then(function (resp) {
                    app.domains = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Не удалось загрузить компании");
                });
        },
        methods: {
            // deleteEntry(id, index) {
            //     if (confirm("Вы действительно хотите удалить компанию?")) {
            //         var app = this;
            //         axios.delete('/test/statistics/domains/params' + id)
            //             .then(function (resp) {
            //                 app.companies.splice(index, 1);
            //             })
            //             .catch(function (resp) {
            //                 alert("Не удалось удалить компанию");
            //             });
            //     }
            // }
        }
    }
</script>